# API Gateway (TMDT) Configuration

# Server
PORT=3000
NODE_ENV=development
LOG_LEVEL=debug

# RabbitMQ
RABBITMQ_URL=amqp://tmdt:tmdt2026@rabbitmq:5672

# Microservice Queues
USER_QUEUE=user_queue
PRODUCT_QUEUE=product_queue
ORDER_QUEUE=order_queue
PAYMENT_QUEUE=payment_queue
PROMOTION_QUEUE=promotion_queue
REVIEW_QUEUE=review_queue
CONFIG_QUEUE=config_queue
NOTIFICATION_QUEUE=notification_queue
